PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Zb9Qj9_ZKO-wNPGG2aBnK4HlhYC5NzhY
DRIVE_DISK=local
DB_CONNECTION=sqlite
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=e1c6cd21ed3a2b
SMTP_PASSWORD=e00748d9c5fb4a
CACHE_VIEWS=false
